<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="{{ data.config.keywords }}" />
<meta name="description" content="{{ data.config.description }}" />
<link rel="icon" href="{{ data.config.root }}{{ data.config.favicon }}" />
<link rel="stylesheet" href="{{ data.config.root }}/css/style.css" />
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="https://cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
